/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap'); */

@import "./global/global.css";
@import "./utilities/typegraphy.css";
@import "./utilities/colors.css";
@import "./global/header.css";
@import "./global/footer.css";

/* Utilities */
@import "./utilities/components.css";


/* Home */
@import "./home/intro.css";
@import "./home/tech.css";
@import "./home/partners.css";
@import "./home/brief.css";

/* Bikes */
@import "./bikes/bikes-list.css";

/* Seguros */
@import "./seguros/seguros.css";