#contato {
    background: linear-gradient(var(--color-11) 600px, var(--color-1) 0px);
}

.contato {
    display: grid;
    grid-template-columns: 5fr 7fr;
}

.contato-dados,
.contato-form {
    padding: 60px;
    box-shadow: 0 1px 2px rgb(0, 0, 0, 0.1);
}

.contato-dados {
    border-radius: 5px 0 0 5px;
    background-color: var(--color-12);
}

.contato-form {
    border-radius: 0 5px 5px 0;
    background-color: var(--color-0);
}

.contato-dados h2 {
    margin-bottom: 60px;
}

.contato-endereco {
    margin-bottom: 32px;
    padding-left: 28px;
    background: url(../../img/icones/local.svg) no-repeat 0px 2px;
}

.contato-endereco p {
    margin-bottom: 8px;
}

.contato-meios {
    padding-left: 28px;
    background: url(../../img/icones/email.svg) no-repeat 0px 2px;
}

.contato-meios a {
    display: block;
    max-width: max-content;
    margin-bottom: 8px;
}

address a:hover {
    color: var(--color-0);
}

.contato-meios {
    margin-bottom: 32px;
}

.contato-telefone {
    background: url(../../img/icones/telefone.svg) no-repeat 0px 2px;
    padding-left: 28px;
    margin-bottom: 60px;
}

.contato-redes {
    display: flex;
    gap: 32px;
    padding-left: 28px
}

.contato-redes path {
    fill: var(--color-p1);
}

@media (max-width: 800px) {
    .contato {
        grid-template-columns: 1fr;
    }
    .contato-dados,
    .contato-form {
        padding: 20px;
    }
    .contato-dados {
        border-radius: 5px 5px 0 0;
    }
    .contato-form {
        border-radius: 0 0 5px 5px;
    }
    .contato-dados h2 {
        margin-bottom: 32px;
    }
    .contato-telefone {
        margin-bottom: 32px;
    }

}