.bikes-list {
    padding-top: 60px;
    padding-bottom: 120px;
}

#bike .bikes-list ul {
    padding: 0px 0px 20px 0px;
}

.bikes-list h2 {
    margin-bottom: 40px;
    

}

.bikes-list ul {
    display: flex;
    gap: 40px;
    padding: 0 20px 20px 20px;
    max-width: 1440px;
    margin-top: auto;
    margin-bottom: auto;
    overflow-x: auto;
}


.bikes-list li {
    min-width: 280px;
}

.bikes-list a {
    display: block;
}

.bikes-list img {
    margin-bottom: 16px;
}

.bikes-list h3 {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.bikes-list h3:before {
    content: "";
    height: 8px;
    width: 12px;
    display: inline-block;
    background-color: var(--color-p1);
    margin-right: 8px;
    transition: width .3s;
}

.bikes-list a:hover h3:before {
    width: 24px;
}

.bikes-list li span {
    padding-left: 20px;
}

@media (max-width: 800px) {
    .bikes-list {
        padding-bottom: 60px;
    }

    .bikes-list ul {
        gap: 20px;
    }


}