.bikes-bg:nth-child(odd) {
    background-color: var(--color-11);
    background-image: linear-gradient(to right, var(--color-0) 30%, transparent 0%);
}

.bikes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.bikes-img {
    display: grid;
}

.bikes-img img {
    grid-area: 1/1;
}

.bikes-img span {
    grid-area: 1/1;
    place-self: start end;
    margin-top: 20px;
    background-color: var(--color-11);
    padding: 8px 16px 8px 8px;
    display: inline-block;
    border-radius: 4px 0 0 4px;
}

.bikes-content {
    display: grid;
    grid-template-columns: 1fr auto;
    align-content: start;
}

.bikes h2,
.bikes p {
    grid-column: 1/-1;
}

.bikes h2 {
    margin-bottom: 20px;

}

.bikes h2::before {
    content: "";
    display: block;
    width: 12px;
    height: 8px;
    background-color: var(--color-p1);
    margin-bottom: 8px;
}

.bikes p {
    margin-bottom: 32px;
}

.bikes a {
    place-self: end;
}

.bikes ul {
    display: grid;
    gap: 16px;
}

.bikes li {
    display: flex;
    align-items: center;
    gap: 8px
}

.bikes-content img {
    width: 24px;
}

@media (max-width: 800px) {
    .bikes {
        grid-template-columns: 1fr;
        gap: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .bikes-bg:nth-child(odd) {
        background-image: none;
    }
}

@media (max-width: 600px) {
    .bikes-content {
        grid-template-columns: 1fr;
    }
    .bikes a {
        place-self: start;
    }
    .bikes ul {
        font-size: 1rem;
        margin-bottom: 32px;
        grid-template-columns: 1fr 1fr;
    }
}