.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form label {
    display: block;
    font: 600 1rem/1.5 "Poppins", sans-serif;
    margin-bottom: 4px;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
    font: 400 1rem/1.5 "Roboto", sans-serif;
    background-color: var(--color-2);
    border: 1px solid var(--color-4);
    padding: 12px;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    resize: none;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus {
    outline: none;
    border-color: var(--color-p1);
    background-color: var(--color-0);
    box-shadow: 0 0 0 2px #fea;
}

.form .btn:focus {
    outline: none;
    border-color: var(--color-p1);
    box-shadow: 0 0 0 2px #fea;
}

@media (min-width: 601px) {
    .col-2 {
        grid-column: span 2;
    }
}

@media (max-width: 600px) {
    .form {
        grid-template-columns: 1fr;
    }
}