.brief {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--color-p1);
    overflow: hidden;
}

.brief img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0px;
}

.brief-content {
    padding: 40px 40px 80px 80px;
    align-self: end;
}

.brief-content p {
    font-family: merriweather, serif;
    font-weight: 900;
    font-style: italic;
    margin-bottom: 32px;
    max-width: 32ch;
    position: relative;
}

.brief-content p::before, .brief-content p::after {
    font-size: 5rem;
    color: var(--color-p2);
    position: absolute;
}

.brief-content p:before {
    content: "“";
    left: -50px;
    top: -20px;
}

.brief-content p:after {
    content: "”";
}

/* .brief-content span {

} */

@media (max-width:800px) {
    .brief {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .brief img {
        max-height: 200px;

    }
    .brief-content {
        padding: 40px 20px;
        justify-self: center;

    }
}