.intro-bg {
    background: var(--color-12);
    box-shadow: inset 0 -120px var(--color-0);
}

.intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;
}

.intro img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro-content {
    align-self: flex-end;
    padding-bottom: 200px;
}

.intro h1 {
    margin-bottom: 32px;
}

.intro p {
    margin-bottom: 20px;
}

@media (max-width: 1200px) {
    .intro h1 {
        font-size: 48px;
    }
    .intro p {
        font-size: 18px;
    }
}

@media (max-width: 800px) {

    .intro-bg {
        background-color: var(--color-11);
        padding-top: 40px;
        box-shadow: inset 0 -60px var(--color-0);
    }

    .intro h1 {
        font-size: 32px;
        margin-bottom: 16px;
    }

    .intro {
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .intro-content {
        padding-bottom: 0px;
    }

    .intro img {
        height: 300px;
        width: 100%;
    }
}

@media (max-width: 600px) {
    .intro a {
        padding: 12px 16px;
        font-size: 16px;
    }
}