.partners {
    padding-top: 60px;
    padding-bottom: 120px;
}

.partners h2 {
    margin-bottom: 60px;
}

.partners ul {
    max-width: 1400;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 20px;
}

.partners li {
    padding: 32px;
    display: flex;
    border-left: 2px solid var(--color-2);

}

.partners li:first-child, .partners li:nth-child(5) {
    border-left: none;
}

.partners li:nth-child(n + 5) {
    border-top: 2px solid var(--color-2);
}

.partners img {
    margin: auto;

}

@media (max-width: 800px) {
    .partners {
        padding-bottom: 60px;
    }
    .partners h2 {
        margin-bottom: 20px;
    }
    .partners ul {
        grid-template-columns: repeat(2, 1fr);
    }
    .partners li {
        display: flex;
        padding: 20px;
    }
    .partners li:nth-child(n + 3) {
        border-top: 2px solid var(--color-2);
    }
    .partners li:nth-child(odd) {
        border-left: none;
    }
}